.noshownewgro{
    display: inline;
    @media screen and(max-width:800px) {
        display: none;
    }
}
.dashboard-btns-9{
    background-color: transparent;
    border: transparent;
    color: white;
}
.bg-yellow{
    background-color: #ddffdd;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
}
.noshow{
    display: inline;
    @media screen and(max-width:900px) {
        display: none;
        background-color: #c95495;
    }
}
.dis-flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    
}
.brand{
    font-weight: bolder;
    width: 20%;
    text-align: center;
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: white;
    padding-top: 5px;
    @media screen and(max-width:900px) {
        font-size: 15px;
        padding-top: 9px;
        padding-left: 0px;
        left: 17px;
        position: relative;
       
    }
}
a{
    text-decoration: none;
}
.pad-top-4per{
    padding-top: 4%;
}
.hyphenls{
    justify-content: center;
    display: flex;
    align-items: center;
}
.max-width-100per{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.mar-lt-2per{
    margin-left: 2%;
}
.mar-lt-8per{
    margin-left: 8%;
}
.hand{
    cursor: pointer;
}
.Available-Products{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.prodyct{
    font-size: 16px;
    font-weight: 500;
}
.productsname{
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 2px #969696;
    padding: 6px;
}
.col-violet-active{
    background-color: #c95495;
}
.col-violet-inactive{
    background-color: rgb(232 134 41);
}
#OrderStatus th{
  font-weight: normal;
  color: white;
  border-right:1px solid white ;
  text-align: center;
  font-size: 13px;
}
#OrderStatus{
    width: 90%;
    margin-inline:5%;
}
#OrderStatus thead{
    background-color: #c95495;
}

#OrderStatus tr td{
    border: 1px solid rgb(225, 225, 225);
    padding: 13px;
}

#Products th{
    font-weight: normal;
    color: white;
    border-right:1px solid white ;
    text-align: center;
    font-size: 13px;
  }
  #Products{
      width: 90%;
      margin-inline:5%;
  }
  #Products thead{
    background-color: rgb(232 134 41);
  }
  
  #Products tr td{
      border: 1px solid rgb(225, 225, 225);
      padding: 13px;
  }
.h-40px{
    height: 40px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(13 18 25);
    padding: 5px;
    color: white;
    @media screen and (max-width:900px) {
       padding: 2px;
    }
   
}
.nav-bar-new{
    display: flex;
    justify-content: space-between;
    background-color:rgb(13 18 25);
    padding: 5px;
    color: white;
    @media screen and (max-width:900px) {
       padding: 2px;
       display: none;
    }
}

.pad-inline-25per{
    padding-inline: 25%;
}

.pad-top-1per{
    padding-top: 1%;
}
.txt-centre{
    text-align: center;
}


.search-bar{
    width: 60%;
}

.search-bar input{
    width: 55%;
    /* text-align:center; */
}
input::placeholder{
    padding: 10px;
    font-weight: bold;
}

.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    width: 350px;
    height: 350px;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem
}


.dashboard-btns{
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    @media  screen and (max-width:900px) {
        font-size: 14px;
        padding-top: 7px;
        right: 15px;
        position: relative;
    }
}
.col-black{
    color: black;
}
.col-blue{
   color: rgb(31, 101, 213); 
}
.bg-black{
    background-color: black;
} 
.w-100{
    width: 100%;
}
.w-100px{
    width: 100px;
}
.h-100{
    height: 100%;
}
.available-products-btn{
    width: 92%;
    background-color: #f8b42f;
    text-align: center;
    border: navajowhite;
    padding: 12px;
    border-radius: 10px;
    }
.w-50per{
    width: 50%;
}
.akas{
    padding-left: 20px;
    /* padding-top: 18px; */
    margin-top: 5px;
    top: 3px;
    position: relative;
}
.rounded-start{
    height: fit-content;
    @media screen and(max-width:900px) {
        height: 100px;
    }
}
.mar-rt-7per{
    margin-right: 7%;
}
.tab1{
    display: flex;
     justify-content: center; 
     align-items: center, 
}
.dis-flex-centre{
    display: flex;
    justify-content: center;
}
.dis-none{
    display: none;
}
.dis-flex-evenly{
    display: flex;
    justify-content: space-evenly
}
.dis-flex-justify{
    display: flex;
    justify-content: space-between;
}
.dis-flex{
    display: flex;
}
.mar-rt-5per{
    margin-right: 5%;
}
.mar-top-1per{
    margin-top: 1%;
}
.mar-btm-1per{
    margin-bottom: 1%;
}
.btn-products{
    background: rgb(31, 101, 213);
    color: white;
      border: none;
    border-radius: 8px;
    padding: 6px;
    padding-inline: 33%;
    font-weight: 600;
}
.btn-products-new{
    background: rgb(31, 101, 213);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px;
    
    font-weight: 600;
}
.mar-lt-16per{
    margin-left: 15%;
}
.bg-gray{
   background-color: #e2dfdf; 
}
.w-90per{
    width: 90%;
}
.tab2{
    width: 92%;
    margin-left: 0px;
    background: #dddada;
}
.mar-lt-5per{
    margin-left: 5%;
}
.ProductName{
    font-weight: 700;
    font-size: 17px;
}
.description{
    font-size: 15px;
    font-weight: 500;
}
.col-green{
    font-size: 22px;
    color: green;
}
.w-92per{
    width: 92%;
}
.mar-lef-0per{
    margin-left: 0%;
}
.mar-btm-16px{
    margin-bottom: 16px;
}
.imagewidth{
    width: 40px;
}





.main {
    background-color: #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s;
    width: 600px;
    margin-left: 25%;
  
}
.w-110px{
    width: 150px;
    top: 10px;
    position: relative;
}
.btn-products-new-w100px{
    background: rgb(31, 101, 213);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 151px;
    top: 12px;
    position: relative;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 16px;
}

h3 {
    text-align: center;
    color: rgb(15, 48, 171);
}

input {
    padding: 10px;
}



.button-33 {
    /* background-color: #c2fbd7; */
    
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }


#root{
    max-width: 100%;
    overflow: hidden;
}
